<div class="d_flex_sb_c head" >

    <div can-Blur class="head-text">Kanban Project Management Tool</div>
    <div can-Blur class="head-logo"><a href="./index.html"><img src="../img/logo-join.svg"></a></a></div>
    <div can-Blur class="rightboxinsideheader d_flex_sb_c">
        <div class="box-helpicon d_flex_c_c">
            <a href="./helpPage.html"><img class="help-icon" src="../img/icons/help-icon.svg"><img></a>
        </div>
        <div class="circle-border" onclick="openNavbar()">
            <div class="initial-box">
                <div class="initialheader d_flex_c_c" id="initialname"></div>
            </div>
            <div id="navbar" class="navbar-bg d-none">
                <div class="navbar">
                    <a href="./legal.html"><button>Legal Notice</button></a>
                    <a href="./privacy.html"><button>Privacy Policy</button></a>
                    <button onclick="logout()">Log out</button>
                </div>
            </div>
        </div>
    </div>

</div>