<aside id="navigation">
    <div class="logoContainer">
        <a can-Blur class="logo" href="../pages/summary.html">
            <img src="../img/logo_small.svg">
        </a>
    </div>
        <nav can-Blur class="navi_sidebar" id="navi-sidebar">
            <ul toHideSidebar>
                <a class="hover-scale" href="../pages/summary.html">
                    <li><img src="../img/icons/icon-sidebar-summary.svg">Summary</li>
                </a>
                <a class="hover-scale" href="../pages/addTaskPage.html">
                    <li><img src="../img/icons/icon-sidebar-addtask.svg">Add Task</li>
                </a>
                <a class="hover-scale" href="../pages/board.html">
                    <li><img src="../img/icons/icon-sidebar-board.svg">Board</li>
                </a>
                <a class="hover-scale" href="../pages/contactsPage.html">
                    <li><img src="../img/icons/icon-sidebar-contacts.svg">Contacts</li>
                </a>
            </ul>
        </nav>
    <div class="buffer"></div>
    <nav can-Blur class="navi_sidebar navi_sidebar_bottom">
        <ul>
            <a href="./privacy.html">
                <li>Privacy Policy</li>
            </a>
            <a href="./legal.html">
                <li>Legal notice</li>
            </a>
        </ul>
    </nav>
</aside>